---
layout: page
title: People behind Statically
title_show: false
description: Statically can't be running perfectly without Our Team. Meet them now!
bgcolor: optimus
permalink: /people
redirect_from: /team
---

<h2 class="hero"><i class="fa fa-bolt"></i> Statically can't be running perfectly without Our Team. Meet them now!</h2>

{% for people in site.data.people %}
<div class="main">
    <div class="column center">
        <img class="circle" src="https://s.gravatar.com/avatar/{{people.picture}}?d=retro&s=400" alt="{{people.name}}">
    </div>

    <div class="column center">
        <h3>{{people.name}}</h3>
        <p class="italic">{{people.title}}</p>
        <p>"{{people.quote}}"</p>
        {% if people.url %}
        <a class="white" href="{{people.url}}" target="_blank">Go to website</a>
        {% endif %}
        {% if people.twitter %}| <a class="white" href="https://twitter.com/{{people.twitter}}">@{{people.twitter}}</a>
        {% endif %}
    </div>
</div>
{% endfor %}

<hr>

<div id="become-a-sponsors" class="main center">
    <h2><i class="fa fa-thumbs-up"></i> Make the project more better!</h2>
    <p>{{site.data.promo.description}}</p>
    <a class="btn btn-white" href="/contact?subject=JoinTheTeam">Join The Team <i class="fa fa-heart"></i></a>
</div>
