---
layout: special
bgcolor: jet
promo: true
permalink: /
---

<section class="special bg bg-{{page.bgcolor}}">
    <div id="app" class="bd">
        <div class="content">
            <h2 class="hero">
                A free multi-CDN for open source project,<br>
                WordPress, images and more
            </h2>

            <div class="main">
                <div class="inp-paste">
                    <p id="url-form">
                        <label for="url" class="offscreen">Project URL:</label>
                        <input id="url" class="inp" type="url" value="" placeholder="Paste a GitHub, GitLab, Bitbucket file or gist URL here.." autofocus tabindex="1">
                    </p>
                </div>

                <div class="column">
                    <h2>Use this URL in <strong>production</strong></h2>

                    <div class="inp-container">
                        <input id="url-prod" class="inp" placeholder="{{site.cdn.url}}/gh/:user/:repo/:tag/:file" readonly tabindex="2">
                        <button id="url-prod-copy" class="inp-copy-button" data-clipboard-target="#url-prod" title="Copy URL" disabled>
                            <i class="fa fa-copy"></i>
                        </button>
                    </div>

                    <ul>
                        <li>
                            <p>Load your project from <strong>GitHub/GitLab/Bitbucket</strong> easily!</p>
                        </li>
                        <li>
                            <p>No traffic limits or throttling. Files are served via <a class="white" href="/network">super fast global CDNs</a>.</p>
                        </li>
                        <li>
                            <p>Use a specific tag or commit hash in the URL (not a branch). Files are cached permanently based on the URL.</p>
                        </li>
                        <li>
                            <p>Files are cached in the browser for 1 year except for the <code>master</code> branch. Learn more about <a class="white" href="/network#cache">cache behavior</a>.</p>
                        </li>
                    </ul>
                </div>

                <div id="secretblock" class="column"></div>
            </div>
        </div>
    </div>
</section>

{% include sponsors/optimus.html %}

<div class="bd">
    <div class="content">
        {% include features/main.html %}

        <div class="line">
            <div class="right">
                <div class="l1"></div>
                <div class="l3"></div>
                <div class="l0"></div>
                <div class="l2"></div>
            </div>
        </div>

        {% include features/highlights.html %}
    </div>
</div>

{% include sponsors/optimus-footer.html %}
