<form id="contact" method="post" netlify>
    <input id="subject" class="inp" type="text" placeholder="Subject: Awesome things.." name="_subject" required>
    <input class="inp" type="text" name="name" placeholder="Full Name">
    <input class="inp" type="email" placeholder="your@example.com" name="_replyto">
    <input type="hidden" name="_cc" value="support@marsble.com">
    <textarea class="inp" placeholder="Tell us your amazing ideas.." name="message" required></textarea>
    <div data-netlify-recaptcha></div>
    <button class="btn btn-white" type="submit">Submit <i class="fa fa-arrow-right"></i></button>
</form>
