<form id="contact" method="post" netlify>
    <input id="subject" class="inp" type="text" placeholder="Subject: Awesome things.." name="subject" required>
    <input class="inp" type="text" name="name" placeholder="Full Name" required>
    <input class="inp" type="email" placeholder="your@example.com" name="email" required>
    <textarea id="message" class="inp" placeholder="Tell us your amazing ideas.." name="message" autofocus required></textarea>
    <button class="btn" type="submit">Submit <i class="fa fa-arrow-right"></i></button>
</form>
