{% if page.promo %}
    {% include promo-v2.html %}
{% endif %}

<footer class="ft">
    <p class="link">
        &copy; 2018
        <a href="{{site.baseurl}}/">{{site.title}}</a> &bull;
        <a href="/privacy">Privacy</a> &bull;
        <a href="/people">Our Team</a> &bull;
        <a href="/contact">Contact</a>
    </p>

    <p class="link right social">
        <a href="https://github.com/{{site.github_username}}" target="_blank
        "><i class="fab fa-github"></i></a>
        <a href="https://twitter.com/{{site.twitter.username}}" target="_blank
        "><i class="fab fa-twitter"></i></a>
        <a href="https://www.facebook.com/{{site.facebook.publisher}}" target="_blank
        "><i class="fab fa-facebook"></i></a>
    </p>
</footer>

</div><!-- /.app -->

<script>
var cdn_domain = '{{site.cdn.domain}}';

{% if page.app_domain %}
var app_domain = '{{page.app_domain}}.staticaly.com';
{% endif %}
</script>

<script>
function getQuery(r) {
	for (var t = window.location.search.substring(1), n = t.split("&"), i = 0; i < n.length; i++) {
		var e = n[i].split("=");
		if (e[0] == r) return e[1];
	}
	return !1;
}

if (getQuery('url') ) {
    document.getElementById('url').value = getQuery('url');
}

{% if page.permalink == '/contact' %}
if (getQuery('subject') ) {
    document.getElementById('subject').value = getQuery('subject');
}
{% endif %}

</script>

<script>
var dev_message = '{{site.data.promo-on-console.title}}, {{site.data.promo-on-console.description}}, {{site.baseurl}}{{site.data.promo-on-console.link}}';
console.log(dev_message);
</script>

{% if page.permalink == '/' %}
<script src="{{site.baseurl}}/static/js/app.js"></script>
{% endif %}

{% if page.permalink == '/imgpx' or page.permalink == '/favicons' %}
<script src="{{site.cdn.url}}/zenorocha/clipboard.js/v1.5.10/dist/clipboard.min.js"></script>

    {% if page.js %}
    {% include js/app-js.html %}
    {% endif %}

{% endif %}

<script defer src="{{site.baseurl}}/static/js/fonts.js"></script>

{% include analytics.html %}

<noscript>
    <div class="announcement">
        <p>Can only work with js!</p>
    </div>
</noscript>

</body>
</html>
