<!DOCTYPE html>
<html class="no-js" lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}">
<head>
{% include js-detector.html %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<title>
	{% if page.permalink == '/' %}
		{{site.title}} - {{site.tagline}}
	{% else %}
		{{page.title}} - {{site.title}}
	{% endif %}
</title>

{% seo title=false %}

<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{site.title}}">

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans:400,700|Source+Code+Pro:400,700">
<link rel="stylesheet" href="https://cdn.staticaly.com/FortAwesome/Font-Awesome/master/web-fonts-with-css/css/fontawesome-all.min.css">
{% if page.layout == 'blog' %}
<link rel="stylesheet" href="">
{% else %}
<link rel="stylesheet" href="{{site.baseurl}}/static/css/app.min.css">
{% endif %}

<link rel="icon" href="{{site.logo}}">

<script>
var cdn_domain = '{{site.cdn.domain}}';

{% if page.app_domain %}
var app_domain = '{{page.app_domain}}.staticaly.com';
{% endif %}

var datacenter_num = '{{site.staticaly.datacenter_num}}';
</script>

{% if page.permalink == '/contact' %}
<script src="https://cdn.staticaly.com/jquery"></script>
<script>
$("#contact").submit(function(e) {
  e.preventDefault();

  var $form = $(this);
  $.post($form.attr("action"), $form.serialize()).then(function() {
    alert("Thank you!");
  });
});
</script>
{% endif %}

</head>
<body class="lo-{{page.layout}}

			{{page.permalink | remove: '/'}}

			{% if page.layout == 'page' %}
				{% if page.bgcolor %}
					bg bg-{{page.bgcolor}}
				{% endif %}
			{% endif %}">

	<div class="app">

	{% if site.data.announcement.show %}
		{% include announcement.html %}
	{% endif %}

    <header class="hd">
        <{% if page.permalink == '/' %}h1{% else %}h2{% endif %} class="title">
            <a href="{{site.baseurl}}/">
				<img class="logo" src="{{site.logo}}" alt="{{site.title}}" role="presentation">
				{{site.title}}
			</a>
        </{% if page.permalink == '/' %}h1{% else %}h2{% endif %}>

        {% include nav.html %}
    </header>
