<!DOCTYPE html>
<html class="no-js" lang="{% if page.lang %}{{page.lang}}{% else %}{{site.lang}}{% endif %}">
<head>
{% include js-detector.html %}

<meta charset="utf-8">
<meta name="viewport" content="width=device-width">

<meta name="apple-mobile-web-app-title" content="{{site.title}}">
<meta name="application-name" content="{{site.title}}">
<meta name="theme-color" content="#ffffff">

<title>
	{% if page.permalink == '/' %}
		{{site.title}} - {{site.tagline}}
	{% else %}
		{{page.title}} - {{site.title}}
	{% endif %}
</title>

{% seo title=false %}

{% if page.image == null %}
	{% if page.permalink == '/' %}
	<meta property="og:image" content="{{site.cdn.url}}/og-image/**Statically**%3Cbr%3EA%20free%20CDN%20for%20Git%20repositories%2C%20WordPress%2C%20images%20and%20more.png?theme=dark&md=1&fontSize=75px">
	<meta property="twitter:image" content="{{site.cdn.url}}/og-image/**Statically**%3Cbr%3EA%20free%20CDN%20for%20Git%20repositories%2C%20WordPress%2C%20images%20and%20more.png?theme=dark&md=1&fontSize=75px">
	{% else %}
	<meta property="og:image" content="{{site.cdn.url}}/og-image/**{{page.title}}**.png?theme=dark&md=1&fontSize=75px">
	<meta property="twitter:image" content="{{site.cdn.url}}/og-image/**{{page.title}}**.png?theme=dark&md=1&fontSize=75px">
	{% endif %}
{% endif %}

<link rel="search" type="application/opensearchdescription+xml" href="/opensearch.xml" title="{{site.title}}">

<link rel="stylesheet" href="{{site.cdn.url}}/fonts/google/css?family=Open+Sans:400,700|Source+Code+Pro:400,700">
<link rel="stylesheet" href="{{site.cdn.url}}/libs/font-awesome/5.7.2/css/all.min.css">
<link rel="stylesheet" href="{{site.cdn.static}}/css/app.css?v={{site.version}}">

<link rel="icon" href="{{site.cdn.static}}/images/statically_sm.png">

<script src="{{site.cdn.url}}/libs/jquery/3.4.0/jquery.min.js"></script>

<script>
var cdn_domain = '{{site.cdn.domain}}';

{% if page.app_domain %}
var app_domain = '{{page.app_domain}}';
{% endif %}

var datacenter_num = '{{site.statically.datacenter_num}}';
var main_cdn = '{{site.statically.main_cdn}}';
</script>

</head>
<body class="lo-{{page.layout}}

			{{page.permalink | remove: '/'}}

			{% if page.layout == 'page' %}
				{% if page.bgcolor %}
					bg bg-{{page.bgcolor}}
				{% endif %}
			{% endif %}">

	<div class="hidden">
		{% include svg.html %}
	</div>

	<div class="app">

	{% if site.data.announcement.show %}
		{% include announcement.html %}
	{% endif %}

    <header class="hd">
        <{% if page.permalink == '/' %}h1{% else %}h2{% endif %} class="title">
            <a href="{{site.url}}/">
				<img class="logo" src="{{site.logo}}" alt="{{site.title}}" role="presentation">
				<span class="hidden">{{site.title}}</span>
			</a>
        </{% if page.permalink == '/' %}h1{% else %}h2{% endif %}>

        {% include nav.html %}
    </header>
