<nav class="nav">
    <ul>
        <li{% if page.permalink == '/' %} class="active"{% endif %}>
            <a href="{{site.url}}/"><i class="fa fa-home prime"></i> Home</a>
        </li>
        <li{% if page.permalink == '/imgpx' %} class="active"{% endif %}>
            <a href="{{site.url}}/imgpx"><i class="fa fa-bolt optimus"></i> Imgpx</a>
        </li>
        </li>
        <li{% if page.permalink == '/sponsors' %} class="active"{% endif %}>
            <a href="{{site.url}}/sponsors"><i class="fa fa-award bumble"></i> Sponsors</a>
        </li>
        <li{% if page.permalink == '/donate' %} class="active"{% endif %}>
            <a href="{{site.url}}/donate"><i class="fa fa-heart pink"></i> Donate</a>
        </li>
        <li{% if page.permalink == '/network' %} class="active"{% endif %}>
            <a href="{{site.url}}/network"><i class="fa fa-globe sentinel"></i> Network</a>
        </li>
        <li>
            <a class="gh" href="{{site.repo}}" target="_blank"><i class="fab fa-github"></i> GitHub</a>
        </li>
    </ul>
</nav>
