<div class="main">
    <p>Sponsor Statically by:</p>
    <ul>
        <li>Providing us your service for free (CDN, DNS, SaaS, cloud server, etc)</li>
        <li>Making monthly donations to help us cover development costs and other expenses</li>
    </ul>

    <p>Feel free to <a class="white" href="/contact">contact us</a> anytime if you have any questions.</p>
</div>

<hr>

<div class="main price">
    <div class="column center bg-blue">
        <h2><i class="fa fa-award"></i> Platinum</h2>
        <h3>$600+/month</h3>
        <ul>
            <li>Logo + link on Homepage</li>
            <li>Big Logo + Attractive description on Sponsors page</li>
            <li>Mentions in social media</li>
            <li>Mentions future in blog posts</li>
            <li>Other possible partnership opportunities</li>
        </ul>
        <a class="btn btn-white" href="/become-a-sponsor-submission">Become A Sponsor</a>
    </div>

    <div class="column center bg-tosca">
        <h2><i class="fa fa-bolt"></i> Gold</h2>
        <h3>$250/month</h3>
        <ul>
            <li>Logo + link + description on Sponsors page</li>
            <li>Mentions in social media</li>
            <li>Mentions future in blog posts</li>
        </ul>
        <a class="btn btn-white" href="/become-a-sponsor-submission">Become A Sponsor</a>
    </div>

    <div class="column center bg-pink">
        <h2><i class="fa fa-circle"></i> Bronze</h2>
        <h3>$100/month</h3>
        <ul>
            <li>Logo + link on Sponsors page</li>
            <li>Mentions in social media</li>
        </ul>
        <a class="btn btn-white" href="/become-a-sponsor-submission">Become A Sponsor</a>
    </div>
</div>
