<div class="main">
    <p>You can sponsor Statically by:</p>
    <ul>
        <li>Providing us your service for free (CDN, DNS, web hosting, anything else we might need)</li>
        <li>Making monthly donations to help us cover development costs and other expenses</li>
        <li>Donating development hours of your employees</li>
    </ul>
    <p>Your sponsorship level is based on the value of your monthly donation. For example, to become a <strong>Platinum</strong> sponsor, you need to sponsor a service worth $50 - 119 per month, donate the same amount of money, or corresponding number of development hours.</p>

    <p>You can <a class="white" href="/contact">contact us</a> anytime if you have any questions.</p>
</div>

<hr>

<div class="main price">
    <div class="column center bg-blue">
        <h2><i class="fa fa-award"></i> Platinum</h2>
        <h3>$120+/month</h3>
        <ul>
            <li>Logo + link on Homepage</li>
            <li>Big Logo + Attractive description on "Sponsors" page</li>
            <li>Mentions in Social Media</li>
            <li>Mentions future in blog posts</li>
            <li>Other possible partnership opportunities</li>
        </ul>
        <a class="btn btn-white" href="/contact?subject=Become An Optimus">Become A Sponsor</a>
    </div>

    <div class="column center bg-tosca">
        <h2><i class="fa fa-bolt"></i> Gold</h2>
        <h3>$50/month</h3>
        <ul>
            <li>Logo + link + description on "Sponsors" page</li>
            <li>Mentions in Social Media</li>
            <li>Mentions future in blog posts</li>
        </ul>
        <a class="btn btn-white" href="/contact?subject=Become A Prime">Become A Sponsor</a>
    </div>

    <div class="column center bg-pink">
        <h2><i class="fa fa-circle"></i> Custom</h2>
        <p>For companies that want to offer a smaller or bigger amount than the ones listed above and/or have custom requirements from Statically.</p>
        <a class="btn btn-white" href="/contact?subject=Become A Bumble">Become A Sponsor</a>
    </div>
</div>
