<div class="main price">
    <div class="column center bg-blue">
        <h2><i class="fa fa-award"></i> Optimus</h2>
        <h3>$500+/month</h3>
        <ul>
            <li>Logo + link in header</li>
            <li>Big Logo + Attractive description on "Sponsors" page</li>
            <li>Mentions in Social Media</li>
            <li>Mentions future in blog posts</li>
            <li>Other possible partnership opportunities</li>
        </ul>
        <a class="btn btn-white" href="/contact?subject=BecomeAnOptimus">Become A Sponsor</a>
    </div>

    <div class="column center bg-tosca">
        <h2><i class="fa fa-bolt"></i> Prime</h2>
        <h3>$100/month</h3>
        <ul>
            <li>Logo + link in footer</li>
            <li>Mentions in Social Media</li>
            <li>Mentions future in blog posts</li>
        </ul>
        <a class="btn btn-white" href="/contact?subject=BecomeAPrime">Become A Sponsor</a>
    </div>

    <div class="column center bg-pink">
        <h2><i class="fa fa-circle"></i> Bumble</h2>
        <h3>Custom</h3>
        <p>For companies that want to offer a smaller or bigger amount than the ones listed above and/or have custom requirements from Staticaly.</p>
        <a class="btn btn-white" href="/contact?subject=BecomeABumble">Become A Sponsor</a>
    </div>
</div>
