<section class="bg bg-blue">
<div class="bd">
    <div class="content">
        <div id="promo" class="main">
            <div class="column">
                <h2><i class="fa fa-award"></i> {{site.data.promo.title}}</h2>
                <p>{{site.data.promo.description}}</p>
                <a class="btn btn-white" href="{{site.data.promo.link}}">{{site.data.promo.linktext}}</a>
            </div>

            <div class="column">
                <h2><i class="fa fa-envelope-open"></i> Join our Mailing lists today!</h2>
                <form action="{{site.statically.newsletter_url}}" method="post">
        			<p>Don't miss up any news and updates from Statically.</p>
        			<input class="inp" type="email" placeholder="you@example.com" name="EMAIL" required>
        			<button class="btn btn-white" type"submit">Sign Up <i class="fa fa-arrow-right"></i></button>
        		</form>
            </div>
        </div>
    </div>
</div>
</section>
