<div id="sponsors-optimus" class="main sponsors">
    <small class="sponsor-title">Staticaly can't be running perfectly without Our Sponsors</small>

    <div class="column">
        <a href="https://www.cloudflare.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/cloudflare.png" alt="CloudFlare"></a>
    </div>

    <div class="column">
        <a href="https://www.dediserve.com/" target="_blank"><img style="margin-top:10px;" src="{{site.cdn.static}}/images/sponsors/dediserve-dark.svg" alt="DediServe"></a>
    </div>

    <div class="column">
        <a href="https://www.cdn77.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cdn77.png" alt="CDN77"></a>
    </div>

    <div class="column">
        <a href="https://www.cedexis.com/" target="_blank"><img  src="{{site.cdn.static}}/images/sponsors/cedexis.png" alt="Cedexis"></a>
    </div>

    <div class="column">
        <a href="https://www.fastly.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/fastly.png" alt="Fastly"></a>
    </div>

    <div class="column">
        <a href="https://www.dewaweb.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/dewaweb.png" alt="Dewaweb"></a>
    </div>

    <div class="column">
        <a href="https://www.cloudKilat.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cloudkilat.png" alt="CloudKilat"></a>
    </div>
</div>
