<div id="sponsors-optimus" class="main sponsors" style="border-top: 1px solid #eee;">
    <div class="column">
        <a href="https://www.statuspage.io/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/statuspage.svg" alt="Statuspage"></a>
    </div>

    <div class="column">
        <a href="https://updown.io/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/updown.io.svg" alt="updown.io"></a>
    </div>

    <div class="column">
        <a href="https://www.dewaweb.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/dewaweb.png" alt="Dewaweb"></a>
    </div>

    <div class="column">
        <a href="https://www.cloudKilat.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cloudkilat.png" alt="CloudKilat"></a>
    </div>
</div>
