<div id="sponsors-optimus" class="main sponsors">
    <small class="sponsor-title">The technologies that we currently use</small>

    <div class="column">
        <a href="https://www.cloudflare.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/cloudflare.png" alt="CloudFlare"></a>
    </div>

    <div class="column">
        <a href="https://www.stackpath.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/stackpath.png" alt="StackPath"></a>
    </div>

    <div class="column">
        <a href="https://www.cedexis.com/" target="_blank"><img  src="{{site.cdn.static}}/images/sponsors/cedexis.png" alt="Cedexis"></a>
    </div>

    <div class="column">
        <a href="https://www.fastly.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/fastly.png" alt="Fastly"></a>
    </div>

    <div class="column">
        <a href="https://www.cdn77.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cdn77.png" alt="CDN77"></a>
    </div>
</div>
