<div id="sponsors-optimus" class="main sponsors">
    <div class="column">
        <h2>Powered By</h2>
    </div>

    <div class="column">
        <a href="/go/cloudflare" target="_blank"><img src="/static/images/sponsors/cloudflare.png" alt="CloudFlare"></a>
    </div>

    <div class="column">
        <a href="/go/stackpath" target="_blank"><img style="margin-top: 5px;" src="/static/images/sponsors/stackpath.png" alt="StackPath"></a>
    </div>

    <div class="column">
        <a class="btn btn-blue" style="padding: 1.1em;" href="/become-a-sponsor">Become A Sponsor</a>
    </div>
</div>
