<div id="sponsors-platinum" class="sponsors" style="border-top: 1px solid #eee;">
    <a href="https://www.dediserve.com/?utm_source=Statically" target="_blank"><img style="margin-bottom:10px;" src="{{site.cdn.static}}/images/sponsors/dediserve-dark.svg" alt="Dediserve"></a>

    <a href="https://runcloud.io/?utm_source=Statically" target="_blank"><img style="margin-bottom:10px;max-width:220px" src="{{site.cdn.static}}/images/sponsors/runcloud-dark.svg" alt="RunCloud"></a>

    <a href="https://updown.io/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/updown.png" alt="updown.io"></a>

    <a href="https://ns1.com/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/ns1.png" alt="NS1"></a>

    <a href="https://www.dewaweb.com/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/dewaweb.png" alt="Dewaweb"></a>

    <a href="https://cloudkilat.com/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/cloudkilat.png" alt="Cloudkilat"></a>
</div>
