<div id="sponsors-platinum" class="sponsors">
    <small class="sponsor-title">Statically is proudly empowered by world-class CDN companies</small>

    <a href="https://www.cdn77.com/?utm_source=Statically" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cdn77.png" alt="CDN77"></a>

    <a href="https://bunnycdn.com/?utm_source=Statically" target="_blank"><img style="height:55px;" src="{{site.cdn.static}}/images/sponsors/bunnycdn.svg" alt="BunnyCDN"></a>

    <a href="https://www.fastly.com/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/fastly.png" alt="Fastly"></a>

    <a href="https://www.cloudflare.com/?utm_source=Statically" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/cloudflare.png" alt="Cloudflare"></a>
</div>
