<div id="sponsors-optimus" class="sponsors">
    <small class="sponsor-title">Statically wouldn't be the best free CDN without sponsorship from our partners.</small>

    <a href="https://www.cdn77.com/" target="_blank"><img style="margin-top:5px;" src="{{site.cdn.static}}/images/sponsors/cdn77.png" alt="CDN77"></a>

    <a href="https://bunnycdn.com/" target="_blank"><img style="margin-top:10px;" src="{{site.cdn.static}}/images/sponsors/bunnycdn.png" alt="BunnyCDN"></a>

    <a href="https://www.fastly.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/fastly.png" alt="Fastly"></a>

    <a href="https://www.cloudflare.com/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/cloudflare.png" alt="CloudFlare"></a>
</div>
