<div id="sponsors-optimus" class="sponsors" style="border-top: 1px solid #eee;">
    <a href="https://www.dediserve.com/" target="_blank"><img style="margin-bottom:10px;" src="{{site.cdn.static}}/images/sponsors/dediserve-dark.svg" alt="Dediserve"></a>

    <a href="https://runcloud.io/" target="_blank"><img style="margin-bottom:10px;max-width:220px" src="{{site.cdn.static}}/images/sponsors/runcloud-dark.svg" alt="RunCloud"></a>

    <a href="https://updown.io/" target="_blank"><img src="{{site.cdn.static}}/images/sponsors/updown.png" alt="updown.io"></a>
</div>
