.btn {
  @apply bg-gray-900 border-black inline-block font-bold py-3 px-4 rounded overflow-hidden relative;
  color: #fff !important;
}
.btn:after {
  @apply bg-white;
  content: '';
  height: 155px;
  left: -75px;
  opacity: 0.2;
  position: absolute;
  top: -50px;
  transform: rotate(35deg);
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
  width: 50px;
  z-index: -10;
}
.btn:hover {
  @apply outline-none;
  opacity: 0.95;
  box-shadow: 0 0 0 3px rgba(91, 180, 255, 0.5);
}
.btn:hover:after {
  left: 120%;
  transition: all 550ms cubic-bezier(0.19, 1, 0.22, 1);
}

.btn-sm {
  @apply font-semibold py-1 px-2;
}

.btn.btn-primary {
  @apply bg-red-600 border-red-700;
}
.btn.btn-primary:hover {
  box-shadow: 0 0 0 3px rgb(255, 187, 187);
}

.btn.btn-secondary {
  @apply bg-blue-600 border-blue-700;
}
.btn.btn-secondary:hover {
  box-shadow: 0 0 0 3px rgba(91, 180, 255, 0.5);
}
