a,
.btn {
  transition-duration: 0.2s;
}

.sponsors-logo img {
  filter: grayscale(100%);
  transition-duration: 0.3s;
  height: 50px;
  width: 100%;
}

.sponsors-logo img:hover,
.people .pic:hover {
  filter: grayscale(0);
  transition-duration: 0.3s;
}

.people .pic {
  filter: grayscale(100%);
  transition-duration: 0.3s;
}

.sponsors-logo img.bunnycdn {
  height: 60px;
}

.sponsors-logo img.wp2static,
.sponsors-logo img.dewaweb {
  width: auto;
}

.sponsor-gold img {
  height: 40px;
  width: auto;
}

.sponsor-bronze img {
  height: 30px;
  width: auto;
}

.integration-logo {
  max-height: 40px;
}

svg.integration-logo {
  width: 40px !important;
  height: 40px !important;
  display: block;
}

.max-w-xxs {
  max-width: 11rem;
}

svg:not(:root) {
  overflow: hidden;
}

svg.fetch {
  margin: 0 auto;
}

svg.fetch path {
  stroke: #e53e3e;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-dasharray: 0.5 10;
  -webkit-animation: animation-fetch 400ms linear infinite;
  animation: animation-fetch 400ms linear infinite;
}

svg.fetch.green path {
  stroke: #3ed0e5;
}

#HW_frame_cont {
  border: 1px solid #eee !important;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05) !important;
}

.highlighted-form {
  padding: 2px;
  border-radius: 0.64rem;
  background-image: linear-gradient(to top right, #ed2f3c, #fd8d2f);
}

.overflow-wrap {
  overflow-wrap: break-word;
}

.usage-box {
  border: 4px solid #00ffff;
  box-shadow: 18px 20px 0 0 #000;
}

.border-b-6 {
  border-bottom-width: 6px;
}

/**
 * Pages
 */

.page-title {
  @apply font-bold text-4xl max-w-xl mx-auto;
}

.page-desc {
  @apply text-lg mt-5 max-w-xl mx-auto;
}

@-webkit-keyframes animation-fetch {
  to {
    stroke-dashoffset: 10;
  }
}

@keyframes animation-fetch {
  to {
    stroke-dashoffset: 10;
  }
}
