@keyframes breathing {
  0% {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    opacity: 0.05;
  }
  35% {
    -webkit-transform: scale(0.6);
    -ms-transform: scale(0.6);
    transform: scale(0.6);
    opacity: 0.2;
  }
  70% {
    -webkit-transform: scale(0.8);
    -ms-transform: scale(0.8);
    transform: scale(0.8);
    opacity: 0.3;
  }
  100% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    opacity: 0;
  }
}

.net {
  position: relative;
  width: 100%;
  margin-left: -2.5%;
}
.net img {
  width: 100%;
}
.net ul li {
  list-style: none;
  position: absolute;
  top: 0;
  left: 0;
  width: 7px;
  height: 7px;
  display: block;
}
.net ul li:after {
  content: '';
  position: absolute;
  top: 1px;
  left: 1px;
  background-color: #ff8f4f;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  display: block;
}
.net ul li:before {
  content: '';
  position: absolute;
  width: 20px;
  height: 20px;
  top: -85%;
  left: -85%;
  border-radius: 100%;
  background: #ff8f4f;
  background: radial-gradient(
    circle,
    rgba(255, 143, 79, 0.14889705882352944) 0%,
    rgba(255, 143, 79, 1) 100%
  );
  -webkit-animation: breathing 2s linear infinite;
  animation: breathing 2s linear infinite;
}
.net ul.bunnycdn li:after {
  background-color: #ff5b15;
}
.net ul.bunnycdn li:before {
  background: rgb(255, 91, 21);
  background: radial-gradient(
    circle,
    rgb(255, 91, 21, 1) 0%,
    rgb(255, 91, 21, 1) 100%
  );
}
.net ul.cdn77 li:after {
  background-color: #3051d8;
}
.net ul.cdn77 li:before {
  background: rgb(48, 81, 216);
  background: radial-gradient(
    circle,
    rgb(48, 81, 216) 0%,
    rgb(48, 81, 216) 100%
  );
}
.net ul.fastly li:after {
  background-color: #ff282d;
}
.net ul.fastly li:before {
  background: rgb(255, 40, 45);
  background: radial-gradient(
    circle,
    rgb(255, 40, 45) 0%,
    rgb(255, 40, 45) 100%
  );
}
.net ul.statically li.af-pop:after {
  background-color: #ff4243;
}
.net ul.statically li.af-pop:before {
  background: rgb(255, 66, 67);
  background: radial-gradient(
    circle,
    rgba(255, 66, 67, 1) 0%,
    rgba(255, 66, 67, 1) 100%
  );
}

/** BunnyCDN North America */
.net ul.bunnycdn li.pop-na-ASH {
  left: 26%;
  top: 27%;
}
.net ul.bunnycdn li.pop-na-ATL {
  left: 23.2%;
  top: 27.5%;
}
.net ul.bunnycdn li.pop-na-CHI {
  left: 22.5%;
  top: 25.5%;
}
.net ul.bunnycdn li.pop-na-DAL {
  left: 19.7%;
  top: 30.5%;
}
.net ul.bunnycdn li.pop-na-LAX {
  left: 14.2%;
  top: 29.3%;
}
.net ul.bunnycdn li.pop-na-MIA {
  left: 24.3%;
  top: 33.5%;
}
.net ul.bunnycdn li.pop-na-NYC {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-na-SJC {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-na-SEA {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-na-YTO {
  left: 10%;
  top: 10%;
}

/** BunnyCDN South America */
.net ul.bunnycdn li.pop-la-SAO {
  left: 10%;
  top: 10%;
}

/** BunnyCDN Europe */
.net ul.bunnycdn li.pop-eu-AMS {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-BBU {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-FRA {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-IST {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-LON {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-MAD {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-MIL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-MOW {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-OSL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-PAR {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-PRG {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-VNO {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-eu-VNO {
  left: 10%;
  top: 10%;
}

/** BunnyCDN Asia */
.net ul.bunnycdn li.pop-as-BLR {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-as-HKG {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-as-SEL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-as-SIN {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-as-TYO {
  left: 10%;
  top: 10%;
}

/** BunnyCDN Oceania */
.net ul.bunnycdn li.pop-oc-ADL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-oc-AKL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-oc-BNE {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-oc-MEL {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-oc-PER {
  left: 10%;
  top: 10%;
}
.net ul.bunnycdn li.pop-oc-SYD {
  left: 10%;
  top: 10%;
}

/** CDN77 North America */
.net ul.cdn77 li.pop-na-ATL {
  left: 23.5%;
  top: 28%;
}
.net ul.cdn77 li.pop-na-CHI {
  left: 21.7%;
  top: 25.5%;
}
.net ul.cdn77 li.pop-na-DAL {
  left: 20%;
  top: 31%;
}
.net ul.cdn77 li.pop-na-LAX {
  left: 14.3%;
  top: 30%;
}
.net ul.cdn77 li.pop-na-MIA {
  left: 24.3%;
  top: 34%;
}
.net ul.cdn77 li.pop-na-NYC {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-na-YTO {
  left: 10%;
  top: 10%;
}

/** CDN77 South America */
.net ul.cdn77 li.pop-la-BUE {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-la-SCQ {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-la-SAO {
  left: 10%;
  top: 10%;
}

/** CDN77 Europe */
.net ul.cdn77 li.pop-eu-AMS {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-BTS {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-FRA {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-IEV {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-LON {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-MAD {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-MIL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-MOW {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-OSL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-PAR {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-PRG {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-STO {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-VNO {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-WAW {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-eu-ZRH {
  left: 10%;
  top: 10%;
}

/** CDN77 Asia */
.net ul.cdn77 li.pop-as-DEL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-HKG {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-ISL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-JKT {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-SEL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-SIN {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-TSA {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-as-TYO {
  left: 10%;
  top: 10%;
}

/** CDN77 Oceania */
.net ul.cdn77 li.pop-oc-ADL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-oc-AKL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-oc-BNE {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-oc-MEL {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-oc-PER {
  left: 10%;
  top: 10%;
}
.net ul.cdn77 li.pop-oc-SYD {
  left: 10%;
  top: 10%;
}

/** Cloudflare North America */
.net ul.cloudflare li.pop-na-ASH {
  left: 25.5%;
  top: 28%;
}
.net ul.cloudflare li.pop-na-ATL {
  left: 24%;
  top: 28.5%;
}
.net ul.cloudflare li.pop-na-BOS {
  left: 28%;
  top: 24%;
}
.net ul.cloudflare li.pop-na-BUF {
  left: 25%;
  top: 25%;
}
.net ul.cloudflare li.pop-na-YYC {
  left: 15%;
  top: 19%;
}
.net ul.cloudflare li.pop-na-CLT {
  left: 24.5%;
  top: 30%;
}
.net ul.cloudflare li.pop-na-CHI {
  left: 22.1%;
  top: 25.1%;
}
.net ul.cloudflare li.pop-na-CMH {
  left: 24%;
  top: 26.5%;
}
.net ul.cloudflare li.pop-na-DAL {
  left: 20.4%;
  top: 30.5%;
}
.net ul.cloudflare li.pop-na-DEN {
  left: 17.5%;
  top: 26.2%;
}
.net ul.cloudflare li.pop-na-DTW {
  left: 24%;
  top: 25%;
}
.net ul.cloudflare li.pop-na-HOU {
  left: 20.7%;
  top: 31.5%;
}
.net ul.cloudflare li.pop-na-IND {
  left: 23%;
  top: 26%;
}
.net ul.cloudflare li.pop-na-JAX {
  left: 24.2%;
  top: 31.5%;
}
.net ul.cloudflare li.pop-na-MCI {
  left: 20%;
  top: 27%;
}
.net ul.cloudflare li.pop-na-LVS {
  left: 15%;
  top: 28%;
}
.net ul.cloudflare li.pop-na-LAX {
  left: 14%;
  top: 30%;
}
.net ul.cloudflare li.pop-na-MFE {
  left: 19.5%;
  top: 33.1%;
}
.net ul.cloudflare li.pop-na-MEM {
  left: 21.8%;
  top: 29%;
}
.net ul.cloudflare li.pop-na-MIA {
  left: 24.7%;
  top: 33.5%;
}
.net ul.cloudflare li.pop-na-MIC {
  left: 21.5%;
  top: 23.5%;
}
.net ul.cloudflare li.pop-na-MGM {
  left: 23.5%;
  top: 30.5%;
}
.net ul.cloudflare li.pop-na-YMQ {
  left: 27.5%;
  top: 21.7%;
}
.net ul.cloudflare li.pop-na-BNA {
  left: 23.1%;
  top: 29%;
}
.net ul.cloudflare li.pop-na-EWR {
  left: 26.5%;
  top: 26%;
}
.net ul.cloudflare li.pop-na-ORF {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-OMA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-YOW {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-PHL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-PHX {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-PIT {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-PDX {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-RIC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-SAC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-SLC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-SAN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-SJC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-YXE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-SEA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-STL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-TLH {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-TPA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-YTO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-YVR {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-na-YWG {
  left: 10%;
  top: 10%;
}

/** Cloudflare Latin America & the Caribbean */
.net ul.cloudflare li.pop-la-ARI {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-ASU {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-BOG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-BUE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-COR {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-CWB {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-FOR {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-GUA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-ZLO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-EOH {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-MEX {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-NQN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-PFN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-PAP {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-PQA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-QRO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-RIO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-SAO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-IPC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-la-CUR {
  left: 10%;
  top: 10%;
}

/** Cloudflare Europe */
.net ul.cloudflare li.pop-eu-AMS {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ATH {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BCN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BEG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BER {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BRU {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BBU {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-BUD {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-KIV {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-CPH {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ORK {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-DUB {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-DUS {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-EDI {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-FRA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-GVA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-GOT {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-HAM {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-HEL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ISL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-IEV {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-LIS {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-LON {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-LUX {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MAD {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MAN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MRS {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MIL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MOW {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-MUC {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ECN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-OSL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-PAR {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-PRG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-REK {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-RIX {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ROM {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-SOF {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-LED {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-STO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-TLL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-SKG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-VIE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-VNO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-WAW {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ZAG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-eu-ZRH {
  left: 10%;
  top: 10%;
}

/** Cloudflare Asia */
.net ul.cloudflare li.pop-as-BKK {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-BLR {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-CEB {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-MAA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-CMB {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-HAN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-SGN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-HKG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-HYD {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-ISB {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-JKT {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-KHI {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-KTM {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-CCU {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-KUL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-LHE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-MFM {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-MLE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-MNL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-BOM {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-NAG {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-DEL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-NOU {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-OSA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-PNH {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-SEL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-SIN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-TSA {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-TYO {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-ULN {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-as-EVN {
  left: 10%;
  top: 10%;
}

/** Cloudflare Oceania */
.net ul.cloudflare li.pop-oc-AKL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-oc-BNE {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-oc-MEL {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-oc-PER {
  left: 10%;
  top: 10%;
}
.net ul.cloudflare li.pop-oc-SYD {
  left: 10%;
  top: 10%;
}

/** Fastly North America */
.net ul.fastly li.pop-na-ASH {
  left: 25.6%;
  top: 26.9%;
}
.net ul.fastly li.pop-na-ATL {
  left: 23.5%;
  top: 29%;
}
.net ul.fastly li.pop-na-BOS {
  left: 27.5%;
  top: 23.5%;
}
.net ul.fastly li.pop-na-CHI {
  left: 22%;
  top: 26%;
}
.net ul.fastly li.pop-na-CMH {
  left: 23.7%;
  top: 26.3%;
}
.net ul.fastly li.pop-na-DAL {
  left: 20%;
  top: 30%;
}
.net ul.fastly li.pop-na-DEN {
  left: 17%;
  top: 26%;
}
.net ul.fastly li.pop-na-HOU {
  left: 20.5%;
  top: 32.2%;
}
.net ul.fastly li.pop-na-LAX {
  left: 13.8%;
  top: 29.4%;
}
.net ul.fastly li.pop-na-MIA {
  left: 24.7%;
  top: 34%;
}
.net ul.fastly li.pop-na-MIC {
  left: 21%;
  top: 23.5%;
}
.net ul.fastly li.pop-na-YMQ {
  left: 27%;
  top: 21.7%;
}
.net ul.fastly li.pop-na-NYC {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-na-SJC {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-na-SEA {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-na-YTO {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-na-YVR {
  left: 10%;
  top: 10%;
}

/** Fastly South America */
.net ul.fastly li.pop-la-BOG {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-la-BUE {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-la-CWB {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-la-SAO {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-la-SCQ {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-la-RIO {
  left: 10%;
  top: 10%;
}

/** Fastly Europe */
.net ul.fastly li.pop-eu-AMS {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-CPH {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-FRA {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-HEM {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-LON {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-MAD {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-MIL {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-OSL {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-PAR {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-eu-STO {
  left: 10%;
  top: 10%;
}

/** Fastly Africa */
.net ul.fastly li.pop-af-CPT {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-af-JNB {
  left: 10%;
  top: 10%;
}

/** Fastly Asia */
.net ul.fastly li.pop-as-MAA {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-DXB {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-HKG {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-BOM {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-DEL {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-OSA {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-SIN {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-as-TYO {
  left: 10%;
  top: 10%;
}

/** Fastly Oceania */
.net ul.fastly li.pop-oc-AKL {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-oc-BNE {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-oc-MEL {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-oc-PER {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-oc-SYD {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-oc-WLG {
  left: 10%;
  top: 10%;
}

/** Fastly coming soon */
.net ul.fastly li.pop-cs-DUB {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-cs-JAC {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-cs-LON {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-cs-MAN {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-cs-TLV {
  left: 10%;
  top: 10%;
}
.net ul.fastly li.pop-cs-VIE {
  left: 10%;
  top: 10%;
}

/** Statically Asia */
.net ul.statically li.pop-as-JKT {
  left: 10%;
  top: 10%;
}
.net ul.statically li.pop-as-YIA {
  left: 10%;
  top: 10%;
}

/** Statically coming soon */
.net ul.statically li.pop-cs-MES {
  left: 10%;
  top: 10%;
}
.net ul.statically li.pop-cs-BDO {
  left: 10%;
  top: 10%;
}
.net ul.statically li.pop-cs-SUB {
  left: 10%;
  top: 10%;
}
.net ul.statically li.pop-cs-BPN {
  left: 10%;
  top: 10%;
}
.net ul.statically li.pop-cs-UPG {
  left: 10%;
  top: 10%;
}
