<div class="main">
    <div class="column img-feature">
        <img src="{{site.cdn.static}}/images/features/wordpress-logo.svg" alt="WordPress">
    </div>
    <div class="column">
        <h2>Statically for WordPress</h2>
        <p>Are you running a WordPress site? <strong>We got You!</strong><br>
            Statically can be running on WordPresss site. With this plugin, you'll be able to:</p>
        <ul>
            <li>Replace WordPress library with Statically CDN.</li>
            <li>Load images and compress it with Statically Imgpx.</li>
            <li>Edit and crop images on the fly.</li>
            <li>Reduce origin server loads.</li>
        </ul>
        <div class="center">
            <a class="btn" href="/go/wp-plugin">Install <i class="fa fa-cloud-download-alt"></i></a>
            <a class="btn" href="/imgpx#docs">Docs</a>
        </div>
    </div>
</div>
