<div class="main">
    <div class="column">
        <h3>Usage</h3>
        <p>Simple usage of Staticaly.</p>
        <code>{{site.cdn.url}}/:user/:repo/:tag/:file</code>
    </div>

    <div class="column">
        <h3>Example</h3>
        <p>Load the production file of <strong>jQuery</strong> from GitHub</p>
        <code><a href="{{site.cdn.url}}/jquery/jquery-dist/master/dist/jquery.min.js" target="_blank">{{site.cdn.url}}/jquery/jquery-dist/master/dist/jquery.min.js</a></code>
      
        <p>Or <strong>Bootstrap CSS</strong></p>
        <code><a href="{{site.cdn.url}}/twbs/bootstrap/v4-dev/dist/css/bootstrap.min.css" target="_blank">{{site.cdn.url}}/twbs/bootstrap/v4-dev/dist/css/bootstrap.min.css</a></code>
    </div>
</div>
